// =======================Section#1============================

.products{
	border-radius: 5px;
	margin-bottom: 68px;
	background-color: $colorContent;
}
.products__list{
	width: $selectWidth +4;
}
.products__item{
	position: relative;
	box-sizing: border-box;
	overflow: hidden;
	padding: 20px 24px;
	border: 1px $colorBorder solid;
	border-bottom: none;
	&:hover{
		box-shadow: 0 0 10px rgba(0,0,0,0.2);
		transition: all 0.2s;
	}
	&:first-child{
		border-radius: 5px 5px 0 0 ;
	}
	&:last-child{
		border-bottom: 1px $colorBorder solid;
		border-radius: 0 0 5px 5px;
	}
}
.products__list{
	margin: 0;
	padding: 0;
}
.products__image{
	float: left;
	width: 143px;
}
.products__main-img{
	max-width: 136px;
	background-color: #fff;
	border: 1px $colorBorder solid;
	border-radius: 2px;
	margin-bottom: 15px;
	cursor: pointer;
	&:hover{
		border: 1px $colorOrange solid;
	}
}
.products__main-image{
	box-sizing: border-box;
	text-align: center;
	padding: 6px 12px 2px 18px;
}
.image__list{
	margin: 0;
	padding: 0;
	margin-bottom: 13px;
}
.image__item{
	display: inline-block;
	box-sizing: border-box;
	padding: 3px 7px;
	width: 34px;
  height: 34px;
  margin-left: 15px;
  cursor: pointer;
  background-color: #fff;
  border: 1px $colorBorder solid;
  border-radius: 2px;
  &:first-child{
  	margin-left: 0;
  }
  &:hover{
		border: 1px $colorOrange solid;
	}
}
.products__small-image{
	max-width: 20px;
  max-height: 26px;
}
.products__article{
	text-align: center;
}
.products__article-text{
	font-size: 12px;
	font-family: "opensans-semibold";
	line-height: 1.667;
	margin-right: 5px;
	color: #878787;
}
.products__article-number{
	font-size: 14px;
	font-family: "opensans-bold";
}
.products__content{
	float: left;
	margin-left: 27px;
	width: 404px;
	border-right:1px $colorBorder solid;
	padding-bottom: 40px;
}
.products__header{
	font-size: 16px;
	font-family: "opensans-bold";
	margin-top: 10px;
	margin-bottom: 32px;
}
.products__text{
	font-size: 14px;
	font-family: "opensans-regular";
	margin-bottom: 20px;
}
.products__rating{
	width: 135px;
}
.products__list-stars{
	float: left;
	margin: 0;
	padding: 0;
}
.products__item-stars{
	display: inline-block;
	// background-image: url(../../images/icons/star-active.png);
	width: 14px;
	height: 14px;
	&:last-child{
		// background-image: url(../../images/icons/star.png);
	}
}
.products__rating-number{
	float: right;
	width: 27px;
	height: 15px;
	background-color: #b5beca;
	border-radius: 8px;
	box-sizing: border-box;
	color: $colorContent;
	font-size: 12px;
	line-height: 14px;
	font-family: "opensans-bold";
	vertical-align: middle;
	text-align: center;
}
.products__info{
	float: right;
}
.products__purchase-text{
	display: block;
	color: #7f7f7f;
}
.products__price-wrap{
	margin-bottom: 124px;
}
.products__price{
	display: block;
	text-align: right;
	font-size: 20px;
	font-family: "opensans-semibold";
	&:after{
 		content: ' ';
    display: inline-block;
    margin-left: 6px;
    background-image: url(../../images/icons/rouble.png);
    width: 10px;
    height: 16px;
    background-position: center center;
	}
}
.products__purchase-button {
	margin-bottom: 10px;
	width: 103px;
  height: 33px;
  background-color: $colorOrange;
  font-family: "opensans-bold";
  font-size: 14px;
  color: #fff5ee;
  border-radius: 5px;
  text-align: center;
  outline: none;
  border: none;
}
.products__purchase-text{
	font-size: 12px;
	font-family: "opensans-bold";
	text-align: right;
	&:before{
    content: '';
    width: 7px;
    height: 7px;
    margin-right: 8px;
    margin-top: -1px;
    display: inline-block;
    border-radius: 50%;
    background-color: #60ac49;
	}
}
.products__purchase{
	position: absolute;
  right: 22px;
  bottom: 18px;
}

// =======================End Section#1============================

// =======================Section#2================================

.products_grid{
	background-color: transparent;
}
.products__features-list{
	width: 210px;
	padding: 0;
	margin-bottom: 6px;
}
.products__request{
	float: left;
}
.products__answer{
	float: right;
}
.products__features-item{
	font-family: "opensans-regular";
	line-height: 1.45;
	font-size: 14px;
}
.products__features-item:nth-child(odd) {
  background-color: #e6e6e6;
}
.products__features-item:nth-child(even) {
  background-color: #fbfbfb;
}
.products__list_grid{
	margin: 0;
	font-size: 0;
	width: $selectWidth;
	margin-bottom: 45px;
}
.products__item_grid{
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 25px;
	vertical-align: top;
	margin-left: 17px;
	margin-bottom: 19px;
	display: inline-block;
	width: 236px;
	background-color: $colorContent;
	border-bottom: 1px $colorBorder solid;
	border-radius: 5px;
	&:first-child{
		border-radius: 5px;
	}
	&:last-child{
		border-radius:5px;
	}
	&:nth-child(3n+1){
		margin-left: 0;
	}
}
.products__image_grid{
	float: none;
	width: 210px;
	text-align: center;
}
.products__main-img{
	margin: 0 auto;
	margin-bottom: 15px;
}
.products__content_grid{
	float: none;
	border: none;
	width: 210px;
	margin: 0;
	padding-bottom: 0;
	margin-bottom: 10px;
}
.products__header-wrap{
	width: 200px;
}
.products__header_grid{
	font-size: 15px;
	text-align: center;
	margin-bottom: 3px;
}
.products__raiting_grid{
	text-align: center;
	margin: 0 auto;
}
.products__item-stars_grid{
	margin-right: 5px;
}
.products__info_grid{
	float: none;
}
.products__price-wrap_grid{
	margin-bottom: 10px;
}
.products__price_grid{
	text-align: center;
}
.products__purchase-button_grid{
	float: right;
	margin-bottom: 0;
}
.products__purchase-text_grid{
	float: left;
	margin-top: 10px;
	margin-left: 10px;
}
.products__purchase_grid{
	position: relative;
	left: 0;
	bottom: 0;
}
// =======================End Section#2============================

// =======================Section#3================================

.products__article_list-view{
	float: left;
}
.products__item_list-view{
  padding: 8px 14px 2px 14px;
}
.products__content_list-view{
	padding: 0;
	border: none;
	width: 290px;
	margin-left: 10px;
}
.products__info_list-view{
	float: left;
}
.products__price-wrap_list-view{
	float: left;
	margin-bottom: 0;
}
.products__price_list-view{
	font-size: 18px;
	font-family: "opensans-semibold";
}
.products__info_list-view{
	margin-left: 11px;
}
.products__purchase-button_list-view{
	float: right;
	margin-bottom: 8px;
}
.products__purchase_list-view{
	width: 295px;
	margin: 0;
	position: static;
}
.products__purchase-text_list-view{
	float: left;
	margin-left: 15px;
	margin-top: 8px;
}
.products__article_list-view{
	margin-top: 8px;
}
.products__content_list-view{
	margin-top: 8px;
}
.products__price-wrap_list-view{
	margin-top: 2px;
}
.products__text_list-view{
	display: block;
	color: #000;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

// =======================End Section#3============================

