$colFootWhite: #fff;

.footer{
	background-image: url(../../images/content/bg-footer.png);
}
.footer-wrap{
	border-bottom: 1px #494949 solid;
}
.footer__left{
	float: left;

	.logo{
		margin-top: 73px;
		margin-bottom: 70px;
	}
}
.footer__right{
	// float: right;
	.nav-wrap{
		float: right;
		text-align: right;
		margin: 0;
		margin-bottom: 10px;
	}
}
.footer-socicons__list{
	margin: 0;
	padding: 0;
}
.footer-socicons{
		float: right;
		margin: 35px 0 32px;
		margin-left: 200px;
}
.footer-socicons__item{
		margin: 0;
		margin-left:26px;
		display: inline-block;
   	 	border-radius: 50%;

		&:first-child{
			margin: 0;
		}
}
.footer-nav__list{
	max-width: 570px;
	padding: 0;
	margin: 0;
}
.footer-nav__item{
	display: inline-block;
	margin-left: 25px;
	margin-bottom: 17px;
}
.footer-nav__link{
	font-size: 14px;
	font-family: "opensans-regular";
	color: $colFootWhite;

	&:hover{
		color: $colorOrange;
		transition: all 0.2s;
	}
}
.copyright-wrap{
	text-align: center;
}
.copyright-item{
	display: block;
	font-size: 12px;
	font-family: "opensans-regular";
	color: $colFootWhite;
}

.footer__left{
	.logo{
		max-width: 255px;
	}
}
