header.header
	.header__top
		.container.clearfix
			.top-wrap.clearfix
				.socicons
					- var socials = ['fb', 'vk', 'tw']
					+list('socicons', socials)
				.tel
					a.tel__item(href="tel:+79211231213" target="_blank") +7 (921) 123-12-13
				.address
					a.address__item(href="https://maps.yandex.ru/2/saint-petersburg/?ll=30.353965%2C59.933122&z=15&text=%D0%A1%D0%B0%D0%BD%D0%BA%D1%82-%D0%9F%D0%B5%D1%82%D0%B5%D1%80%D0%B1%D1%83%D1%80%D0%B3%2C%20%D0%9C%D0%B0%D1%8F%D0%BA%D0%BE%D0%B2%D1%81%D0%BA%D0%B0%D1%8F%2C%206&sll=30.315868%2C59.944263&sspn=0.653687%2C0.178098&ol=geo&ouri=ymapsbm1%3A%2F%2Fgeo%3Fll%3D30.354%252C59.933%26spn%3D0.001%252C0.001%26text%3D%25D0%25A0%25D0%25BE%25D1%2581%25D1%2581%25D0%25B8%25D1%258F%252C%2520%25D0%25A1%25D0%25B0%25D0%25BD%25D0%25BA%25D1%2582-%25D0%259F%25D0%25B5%25D1%2582%25D0%25B5%25D1%2580%25D0%25B1%25D1%2583%25D1%2580%25D0%25B3%252C%2520%25D0%25A6%25D0%25B5%25D0%25BD%25D1%2582%25D1%2580%25D0%25B0%25D0%25BB%25D1%258C%25D0%25BD%25D1%258B%25D0%25B9%2520%25D1%2580%25D0%25B0%25D0%25B9%25D0%25BE%25D0%25BD%252C%2520%25D1%2583%25D0%25BB%25D0%25B8%25D1%2586%25D0%25B0%2520%25D0%259C%25D0%25B0%25D1%258F%25D0%25BA%25D0%25BE%25D0%25B2%25D1%2581%25D0%25BA%25D0%25BE%25D0%25B3%25D0%25BE%252C%25206" target="_blank") ул. Маяковская 6, офис 17
	.header__bottom
		.container.clearfix
			.bottom-wrap.clearfix
				.logo
					a.logo__link(href="/")
						img.logo__img(title="Логотип сайта", alt="Логотип сайта", src="images/content/logo.png")
						h1.logo__header COOLTECH
				.search-wrap
					form.search-wrap__form
						input.search-wrap__field(placeholder="Что будем искать")
						button.search-wrap__button(type="submit") Найти
				.nav-wrap
					- var headerLinks=['Карта проезда', 'История заказов', 'Корзина']
					+link-list('header-nav', headerLinks)
