.main-nav-wrap
	.container
		- var navigationLinks=['Планшеты','Мобильные телефоны','Мр3 плееры','Персональные компьютеры','Ноутбуки','Аксессуары','Бытовая техника']
		+nav('main-navigation', navigationLinks, 1)