.sorting.clearfix
	.select
		.select__field
			span.sorting__label Сортировать по
			.select__wrap
				a.select__toggle(href="#")
					span.select__name по цене
				ul.select__list
					li.select__item по цене
					li.select__item по популярности
	.catalog-view.clerfix
		-var catalogViews=['table','grid','list']
		+list('catalog-view', catalogViews)
		.catalog-view__wrap
			span.sorting__label Вид каталога
